.flows.json.backup
[
    {
        "id": "f68ae9c61df691b5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ad12b9e27d113b7",
        "type": "MySQLdatabase",
        "name": "",
        "host": "mini-map.shop",
        "port": "3306",
        "db": "minimap",
        "tz": "+07:00",
        "charset": "utf8mb4_unicode_ci"
    },
    {
        "id": "b1ef6b5dee30839a",
        "type": "mysql",
        "z": "f68ae9c61df691b5",
        "mydb": "0ad12b9e27d113b7",
        "name": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "942ba12fa260fd97"
            ]
        ]
    },
    {
        "id": "8c629a9c3f2833e3",
        "type": "http in",
        "z": "f68ae9c61df691b5",
        "name": "",
        "url": "login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "95963714b4447d20"
            ]
        ]
    },
    {
        "id": "a2c84e0211959067",
        "type": "http response",
        "z": "f68ae9c61df691b5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "bb6afac0e059db7f",
        "type": "debug",
        "z": "f68ae9c61df691b5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 140,
        "wires": []
    },
    {
        "id": "95963714b4447d20",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 1",
        "func": "// ตรวจสอบว่า payload มีค่าว่างหรือไม่\nif (!msg.payload || msg.payload.username === \"\" || msg.payload.password === \"\") {\n    msg.statusCode = 400,\n        msg.payload = {\n            error: \"Authentication failed\",\n            status: \"error\"\n        };\n    let msg2 = msg\n\n    // return msg;\n    return [null, msg2];;\n}\nelse {\n    // กำหนด SQL query เป็น string\n    msg.topic = \"SELECT * FROM users WHERE username = ? AND password = ?\";\n    msg.payload = [msg.payload.username, msg.payload.password];\n\n    return [msg, null];;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "b1ef6b5dee30839a"
            ],
            [
                "fb26cc60e62fd381"
            ]
        ]
    },
    {
        "id": "942ba12fa260fd97",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 2",
        "func": "if (msg.payload.length > 0) {\n        msg.statusCode = 200;\n        msg.payload = {\n            status: \"success\",\n            data: msg.payload\n        };\n    } else {\n        msg.statusCode = 401;\n        msg.payload = {\n            status: \"error\",\n            message: \"ไม่พบข้อมูลผู้ใช้\"\n        };\n    }\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "7e993a66320464da"
            ]
        ]
    },
    {
        "id": "7e993a66320464da",
        "type": "link out",
        "z": "f68ae9c61df691b5",
        "name": "http response",
        "mode": "link",
        "links": [
            "62dc8b6eccfd8181"
        ],
        "x": 845,
        "y": 100,
        "wires": []
    },
    {
        "id": "62dc8b6eccfd8181",
        "type": "link in",
        "z": "f68ae9c61df691b5",
        "name": "link in 1",
        "links": [
            "7e993a66320464da",
            "fb26cc60e62fd381",
            "a67eb4f269165609",
            "cb19f8a06acb22e9",
            "d5ceaf3139066c4f"
        ],
        "x": 1105,
        "y": 100,
        "wires": [
            [
                "a2c84e0211959067",
                "bb6afac0e059db7f"
            ]
        ]
    },
    {
        "id": "fb26cc60e62fd381",
        "type": "link out",
        "z": "f68ae9c61df691b5",
        "name": "http response",
        "mode": "link",
        "links": [
            "62dc8b6eccfd8181"
        ],
        "x": 495,
        "y": 140,
        "wires": []
    },
    {
        "id": "0dd40412fa6deeb6",
        "type": "debug",
        "z": "f68ae9c61df691b5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "d09f0590efe2b2e2",
        "type": "http in",
        "z": "f68ae9c61df691b5",
        "name": "",
        "url": "products",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "29d4401156590d40"
            ]
        ]
    },
    {
        "id": "a67eb4f269165609",
        "type": "link out",
        "z": "f68ae9c61df691b5",
        "name": "http response",
        "mode": "link",
        "links": [
            "62dc8b6eccfd8181"
        ],
        "x": 955,
        "y": 540,
        "wires": []
    },
    {
        "id": "29d4401156590d40",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 3",
        "func": "// อ่านข้อมูลจาก payload ที่ส่งมาจาก input\nlet productName = msg.payload.name;\nlet productPrice = msg.payload.price;\nlet productStock = msg.payload.stock;\n\n// สร้างคำสั่ง SQL สำหรับการเพิ่มสินค้าใหม่\nlet sql = \"INSERT INTO products (name, price, stock) VALUES (?, ?, ?)\";\n\n// ตั้งค่า SQL query ใน msg.topic\nmsg.topic = sql;\nmsg.payload = [productName, productPrice, productStock]; // ส่งค่าพารามิเตอร์เข้าไป\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "a5799016d263e1b9"
            ]
        ]
    },
    {
        "id": "a5799016d263e1b9",
        "type": "mysql",
        "z": "f68ae9c61df691b5",
        "mydb": "0ad12b9e27d113b7",
        "name": "",
        "x": 640,
        "y": 300,
        "wires": [
            [
                "8a6e5b10a1b202b9",
                "0dd40412fa6deeb6"
            ]
        ]
    },
    {
        "id": "f19e48a393766431",
        "type": "http in",
        "z": "f68ae9c61df691b5",
        "name": "",
        "url": "products",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "db0dd9fabe895178"
            ]
        ]
    },
    {
        "id": "db0dd9fabe895178",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 4",
        "func": "// สร้างคำสั่ง SQL สำหรับดึงข้อมูลสินค้า\nlet sql = \"SELECT * FROM products\";\n\n// ตั้งค่า SQL query ใน msg.topic\nmsg.topic = sql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "a5799016d263e1b9"
            ]
        ]
    },
    {
        "id": "d5ceaf3139066c4f",
        "type": "link out",
        "z": "f68ae9c61df691b5",
        "name": "http response",
        "mode": "link",
        "links": [
            "62dc8b6eccfd8181"
        ],
        "x": 905,
        "y": 300,
        "wires": []
    },
    {
        "id": "818028afd9b8ff73",
        "type": "http in",
        "z": "f68ae9c61df691b5",
        "name": "",
        "url": "/products/:product_id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "b656b8af29a24fa8"
            ]
        ]
    },
    {
        "id": "b656b8af29a24fa8",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 5",
        "func": "// node.warn(msg.req.params.product_id)\n// อ่าน product_id จาก params ใน URL\nlet productId = msg.req.params.product_id;\n\n// ตรวจสอบว่า product_id มีค่าและเป็นตัวเลข\nif (!productId || isNaN(productId)) {\n    msg.payload = { error: 'Valid product_id is required' }; // แจ้งข้อผิดพลาด\n    return msg;  // ส่งข้อผิดพลาดกลับไป\n}\n\n// สร้างคำสั่ง SQL สำหรับลบสินค้าจาก product_id\nlet sql = \"DELETE FROM products WHERE product_id = ?\";\n\n// ตั้งค่า SQL query ใน msg.topic\nmsg.topic = sql;  // ทำให้แน่ใจว่า topic เป็น string ที่มีคำสั่ง SQL\nmsg.payload = [productId]; // ส่งค่าของ product_id จาก params\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "a5799016d263e1b9"
            ]
        ]
    },
    {
        "id": "8a6e5b10a1b202b9",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 6",
        "func": "if (msg.topic == \"SELECT * FROM products\") {\n    msg.statusCode = 200;\n    msg.payload = {\n        status: \"success\",\n        data: msg.payload\n    };\n    return msg;\n}\nelse if(msg.topic == \"INSERT INTO products (name, price, stock) VALUES (?, ?, ?)\") {\n    msg.statusCode = 201;\n    msg.payload = {\n        status: \"success\",\n        data: msg.payload\n    };\n    return msg;\n}\nelse if(msg.topic == \"DELETE FROM products WHERE product_id = ?\") {\n    msg.statusCode = 200;\n    msg.payload = {\n        status: \"success\",\n        data: msg.payload\n    };\n    return msg;\n}\nelse if (msg.topic == \"UPDATE products SET price = ?, stock = ?, name = ? WHERE product_id = ?\") {\n    msg.statusCode = 200;\n    msg.payload = {\n        status: \"success\",\n        data: msg.payload\n    };\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "d5ceaf3139066c4f"
            ]
        ]
    },
    {
        "id": "6e14c27a04eb68b0",
        "type": "http in",
        "z": "f68ae9c61df691b5",
        "name": "",
        "url": "/products/:product_id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "f0fca86a5d54e4a8"
            ]
        ]
    },
    {
        "id": "f0fca86a5d54e4a8",
        "type": "function",
        "z": "f68ae9c61df691b5",
        "name": "function 7",
        "func": "// อ่านค่าจาก msg.payload\nlet productName = msg.payload.name;   // ชื่อสินค้าใหม่\nlet productPrice = msg.payload.price; // ราคาใหม่\nlet productStock = msg.payload.stock; // จำนวนสินค้าใหม่\nlet productId = msg.req.params.product_id;\n\n// ตรวจสอบว่า product_id มีค่าและเป็นตัวเลข\nif (!productId || isNaN(productId)) {\n    msg.payload = { error: 'Valid product_id is required' }; // แจ้งข้อผิดพลาด\n    return msg;  // ส่งข้อผิดพลาดกลับไป\n}\n\n// ตรวจสอบว่ามีค่าจาก msg.payload ครบหรือไม่\nif (!productName || !productPrice || !productStock) {\n    msg.payload = { error: \"Missing required fields (name, price, or stock)\" };\n    return msg;  // ถ้าข้อมูลไม่ครบ ให้คืนค่าผลลัพธ์ที่เป็น error\n}\n\n// สร้างคำสั่ง SQL สำหรับอัปเดตสินค้า\nlet sql = \"UPDATE products SET price = ?, stock = ?, name = ? WHERE product_id = ?\";\n\n// ตั้งค่า SQL query ใน msg.topic\nmsg.topic = sql;\nmsg.payload = [productPrice, productStock, productName, productId]; // ส่งค่าต่าง ๆ ไปใน array\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "a5799016d263e1b9",
                "0dd40412fa6deeb6"
            ]
        ]
    }
]